/* Header + Caption + Nav Menu flex box */
.side-panel {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem); /* full height minus top/bottom margin */
    width: fit-content;
    margin-left: .5em;
}
/*  flex box of Header + Caption*/
.heading,
.caption,
.pages {
    width: fit-content;
    transform-origin: left top;
}

.heading {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
}
/* Farmaan Pannu */
.header {
    font-family: "EB Garamond", serif;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 0.95;
    letter-spacing: -0.01em;
    text-align: left;
    transform: scaleY(1.2);
    margin-bottom: 0.25rem;
    margin-top: 0.5em;

}
/* Caption as a whole */
.caption {
    transform: scaleY(1.2);
    margin-bottom: 0.35rem;
    font-size: 1.5em;
}
/* Caption Header */
.caption-title {
    font-weight: 900;
    letter-spacing: -0.01em;
    

}
/* flex box of links*/
.pages {
    display: inline-flex;
    flex-direction: column;
    bottom: 1.5rem;
    font-family: "Inter", sans-serif;
    font-size: 0.8em;
    transform: scaleY(1.2);
    color:black;
    margin-top: auto;
    align-items: flex-start;
    width: fit-content
    line-height: 1.35;
}

/* individual links */
.link{
    font-size: 1.8em;
    font-family: "Space Mono", monospace;
    color: black;
}