/* Header + Caption + Nav Menu flex box */
.side-panel {
    display: inline-flex;
    border: 2px solid black;
    flex-direction: column;
    height: 100%;
}
/*  flex box of Header + Caption*/
.heading,
.caption,
.pages {
    width: fit-content;
    transform-origin: left top;
}

.heading {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    border: 2px solid red;
}
/* Farmaan Pannu */
.header {
    font-family: "EB Garamond", serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 0.95;
    letter-spacing: -0.01em;
    text-align: left;
    transform: scaleY(1.2);
    border: 2px solid blue;
    margin-bottom: 0.25rem;

}
/* Caption as a whole */
.caption {
    transform: scaleY(1.2);
    border: 2px solid green;
    margin-bottom: 0.35rem;
}
/* Caption Header */
.caption-title {
    font-weight: 900;
    letter-spacing: -0.01em;
    border: 2px solid purple;

}
/* flex box of links*/
.pages {
    display: inline-flex;
    flex-direction: column;
    bottom: 1.5rem;
    font-family: "Inter", sans-serif;
    font-size: 0.8em;
    transform: scaleY(1.2);
    border: 2px solid powderblue;
    color:black;
    margin-top: auto;
    align-items: flex-start;
    width: fit-content
    line-height: 1.35;
}

/* individual links */
